<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hourly Forecast</title>
  </head>
  <body>
    {{#each info_list}}
        {{this}}
        <p></p>
    {{/each}}
  </body>
</html>