<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
    </head>

    <body>
        <div class="top-nav">
            <ul class="top-horizontal">
                <li class="top-menu"><a href="javascript:void(0)">Home</a></li>
                <li class="top-menu"><a href="https://user.tjhsst.edu/2020sliu/login">Login</a></li>
                <li class="top-menu"><a href="https://user.tjhsst.edu/2020sliu/logout">Logout</a></li>
                <li class="top-menu righty"><a href="javascript:void(0)">Welcome {{username}}!</a></li>
            </ul>
        </div>
        <p>{{views}}</p>
        <div class="content">
            <br>
            <img src="https://www.w3schools.com/w3css/img_lights.jpg" alt="Aurora">
        </div>
    </body>
</html>