<!DOCTYPE html>
<html>
    <body>
        Hello {{username_ion}}!
        Your counselor is {{counselor_ion}}.
        <br>
        Page visits since login: {{page_views}}
        <a href="https://user.tjhsst.edu/2020sliu/logout_oauth">Logout</a>
        <br>
        <a href="https://user.tjhsst.edu/2020sliu/">Home</a>
    </body>
</html>
