ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: green;
}

.righty {
    float: right;
}

.floating-element {
    font-family : Arial;
    float: left;
}

.block {
    margin: 5px;
    width: 100px;
    height: 50px;
}

p {
    width: 600px;
}