<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Facts</title>
  </head>
  <body>

    Fact: {{number}}
    <ul>
        {{#each fact_list}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
  </body>
</html>